language: smalltalk
sudo: false

install:
  - pip install --user benchupload

os:
  - linux
#  - osx
services: 
  - mongodb
smalltalk:
  - Pharo-5.0
  - Pharo-4.0
  - Pharo-3.0

# bob-bench xUnit file analysis
after_success:
  - benchupload --dir=$SMALLTALK_CI_BUILD
after_failure:
  - benchupload --dir=$SMALLTALK_CI_BUILD
